<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task Management Application by gihyodocker</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form action="/tasks/create/complete" method="POST">
        <div class="row">
            <h2>Task Management Application</h2>
            <div class="row my-md-2">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="titleInput"/>
                    </div>
                    <div class="mb-3">
                        <label for="contentInput" class="form-label">Content</label>
                        <input type="textarea" name="content" class="form-control" id="contentInput"/>
                    </div>
                    <div class="mb-3">
                        <label for="statusInput" class="form-label">Status</label>
                        <select class="form-select" name="status" aria-label="Default select example" id="statusInput">
                            <option value="BACKLOG">BACKLOG</option>
                            <option value="PROGRESS">PROGRESS</option>
                            <option value="DONE">DONE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row-4">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>