<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task Management Application by gihyodocker</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form action="/tasks/{{ .ID }}/delete/complete" method="POST">
        <div class="row">
            <h2>Task Management Application</h2>
            <div class="row">
                <div class="alert alert-warning" role="alert">
                    Are you sure you want to delete this task?
                </div>
            </div>
            <div class="row my-md-2">
                <div class="col-4">
                    <div class="card" stype="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ .Title }} <span class="badge bg-secondary">{{ .Status }}</span></h5>
                            <p class="card-text">{{ .Content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-4">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </form>
</div>